/components/ui/chart.tsx 
/components/ui/*.tsx
/components/hooks/use-toast.ts
/components/dashboard/chat/chat-message.tsx
/components/home/Feattwo.tsx
/components/home/modelCard.tsx
/components/XmasRain.tsx
/components/ModelTable/ModelTable.tsx
/lib/hooks/useHexDump.ts
/components/ui/background-beams.tsx